# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

# Configuration files, including certificates.
*.key
*.csr
*.crt
unanimity.conf

# ctags files
tags

# Profiling output.
*.prof
*.mprof

# Compiled executables.
unanimity
bench/msgsink/msgsink
bench/msgsource/msgsource
bench/register/register
